In [29]:
# setup
library(tidyverse)
library(testthat)

## Code and run
*Learners asked to write code that produces a specified output.*

Calculate the mean fuel efficiecy (miles per gallon: `mpg`) for 6 and 8 cylinder cars from the `mtcars` data set. The object you return should be a data frame with two columns, cylinder & mean fuel efficiency.

In [5]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [13]:
### BEGIN SOLUTION
mtcars %>% 
    filter(cyl == 6 | cyl == 8) %>% 
    group_by(cyl) %>% 
    summarise(mean_mgp = mean(mpg))
### END SOLUTION

  cyl mean_mgp
1 6   19.74286
2 8   15.10000

## Fill in the Blanks

*Learners given some starter code and has to complete it so that the code produces a specified output.* 

Complete the code provided below to calculate the minimum and maximum horsepower for cars of each gear from the `mtcars` data set. The object you return should be a data frame with three columns, gear as well as minimum and maximum horsepower.

In [ ]:
#mtcars %>% 
#    group_by(...) %>% 
#    summarise(...)

In [56]:
### BEGIN SOLUTION
mtcars %>% 
    group_by(gear) %>% 
    summarise(min_hp = min(hp),
             max_hp = max(hp))
### END SOLUTION

  gear min_hp max_hp
1 3    97     245
2 4    52     123
3 5    91     335

## Inverting Code & Run
*Learners asked to write tests to determine whether a piece of code conforms to a spec.*

The function `celsius_to_fahr` converts temperature from Celsius to Fahrenheit. For example, given the input 23, the output should be 73.4. And given the input -40, the output should be -40. Write and run unit tests for this function, and if there is a bug identified, fix it.

In [62]:
celsius_to_fahr <- function(temp) {
    fahr <- (temp * (9 / 5)) - 32
    return(fahr)
}

In [50]:
### BEGIN SOLUTION
test_that("Fahrenheit should be 73.4 when Celsius is 23", expect_equal(celsius_to_fahr(23), 73.4))
test_that("Celsius and Fahrenheit should meet at -40", expect_equal(celsius_to_fahr(-40), -40))
### END SOLUTION

ERROR: Error: Test failed: 'Fahrenheit should be 73.4 when Celsius is 23'
* celsius_to_fahr(23) not equal to 73.4.
1/1 mismatches
[1] 9.4 - 73.4 == -64

## Parsons Problem

*Learners given lines of code that need to be rearranged to generate a specified output*

Eearrange the commented lines below to get working code that would create a scatter plot of the weight and height columns of the `race_horses` data set, not plotting the rows where the horse breed is listed as a Clydesdale. *Bonus - add the correct indentation to the code as well!*

```
ggplot(aes(x = height, y = weight, colour = breed)) +
race_horses %>% 
filter(breed != 'Clydesdale') %>% 
library(tidyverse)
geom_point()
```

### BEGIN SOLUTION
```
library(tidyverse)
race_horses %>% 
    filter(breed != 'Clydesdale') %>%
    ggplot(aes(x = height, y = weight, colour = breed)) +
        geom_point()
```
### END SOLUTION

## Tracing (execution)
*Given a few lines of code, the learner has to trace the order in which those lines are executed.*


Consider the code presented below. Trace the executation of this code and write down the line numbers in the order the code is executed.

```
1. for (i in 1:4) {
2.   if (i < 2) 
3.     next
4.   print(i)
5.   if (i >= 3)
6.     break
7. }
```

### BEGIN SOLUTION
1
2
3
1
2
3
1
2
3
4
5
1
2
3
4
5
6
### END SOLUTION

## Tracing (values)
*Given a few lines of code, the learner lists the values that one or more variables take on as the program runs.*

Consider the code below. For each line of code state the numerical value of `a`.

```
1. a <- 5
2. b <- 6
3. a <- b
4. b <- 10
```

### BEGIN SOLUTION
1. 5
2. 5
3. 6
4. 6
### END SOLUTION

## Minimal Fix
*Given a few lines of code that contain a bug, the learner must find it and make one small change to fix it.*

Consider and try to run the code below. Identify any bugs and fix them.

In [71]:
means <- c()
out <- vector("list", length(means))
for (i in 1:length(means)) {
  out[[i]] <- rnorm(10, means[[i]])
}

ERROR: Error in rnorm(10, means[[i]]): invalid arguments

### BEGIN SOLUTION
Code above fails because `:` works with both increasing and decreasing sequences, and this leads to the loop trying to iterate over an empty vector. A fix would be to use `seq_along` instead:

```
means <- c()
out <- vector("list", length(means))
for (i in seq_along(means)) {
  out[[i]] <- rnorm(10, means[[i]])
}
```
### END SOLUTION

## Refactoring 
*Given a working piece of code, the learner has to modify it in some way without changing its output.*

The code below calculates the column minimums of the `mtcars` data frame and returns them as a vector. Refactor the code to do this in a more efficient way (well more efficient for the humans) using a functional programming style leveraging the `purrr` package.

In [84]:
column_mins <- rep(NA, ncol(mtcars))
for (i in 1:ncol(mtcars)){
    column_mins[i] <- min(mtcars[,i])
}
column_mins

 [1] 10.400  4.000 71.100 52.000  2.760  1.513 14.500  0.000  0.000  3.000
[11]  1.000

[1] "numeric"

In [85]:
### BEGIN SOLUTION
column_mins <- map_dbl(mtcars, min)
column_mins
### END SOLUTION

   mpg    cyl   disp     hp   drat     wt   qsec     vs     am   gear   carb
10.400  4.000 71.100 52.000  2.760  1.513 14.500  0.000  0.000  3.000  1.000